$main-color: #EA0029;
$main-color-hover: #F53A31;
$main-color-click: #EA0029;
/* Text colors */ 
$hover-text-red: #F53A31;
$click-text-red: #EA0029;
$popup-text: #808080;
/* Button colors */
$disable-button: #BEC5CC;

/* gradient */
$angle: 255.35deg;

$first-color: #DC3131;
$second-color: #FF5E56;