@import "./variables";
@import "./icons";
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

/* COLOS */
.gradient {
  background:  linear-gradient($angle, $first-color 0.83%, rgba(255, 79, 79, 0) 108.93%), $second-color;
}

.bg-main {
  background: $main-color;
}

.transparent {
  background: transparent;
  border: 1px solid #FFF;
  transition: .2s;
  &:hover {
    background: #FFFFFF;
    color: #000;
  }
  &:disabled {
    background: $disable-button;
    border: none;
    filter: none;
    color: #FFF;
  }
}

.normal {
  border: none;
  background: linear-gradient($angle, $first-color 0.83%, rgba(255, 79, 79, 0) 108.93%), $second-color;
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  &:hover {
    background: $main-color;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  }
  &:active {
    background: $main-color;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  }
  &:disabled {
    background: $disable-button;
  }
  &:focus {
    outline: none;
  }
}

/* BUTTONS / INPUTS / TAGS */
.btn {
  color: #FFF;
  transition: .2s;
}

.big-btn {
  padding: 16px 32px;
  border-radius: 6px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.min-btn {
  padding: 6px 12px;
  font-size: 12px;
  line-height: 16px;
}

.text-btn {
  background: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $main-color;
  margin: 0;
  padding: 0;
  &:hover {
    color: $main-color-hover;
  }
  &:active {
    color: $main-color-click;
  }
  &:focus {
    outline: none;
  }

}

.input {
  width: 100%;
  border: 1px solid #DFE3E6;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 10px;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  &:hover {
    border: 1px solid #000000;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #BEC5CC;
  }
  &:disabled {
    border: 1px solid #808080;
    &::placeholder {
      color: #808080;
    }
  }
}

.input-label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
}

.input-checkbox {
  position: relative;
  &::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' fill='white' stroke='%23DFE3E6'/%3E%3C/svg%3E");
  }
  &:hover {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' fill='white' stroke='black'/%3E%3C/svg%3E");
    }
  }

  &:checked {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' fill='%23FF5E56'/%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' fill='url(%23paint0_linear_2:171)'/%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' stroke='%23FF5E56'/%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' stroke='url(%23paint1_linear_2:171)'/%3E%3Cpath d='M7.45455 13.7015L4.11364 10.2537L3 11.403L7.45455 16L17 6.14925L15.8864 5L7.45455 13.7015Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2:171' x1='20' y1='0.798563' x2='-7.38102' y2='7.95678' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DC3131'/%3E%3Cstop offset='0.932292' stop-color='%23FF4F4F' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2:171' x1='20' y1='0.798563' x2='-7.38102' y2='7.95678' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DC3131'/%3E%3Cstop offset='0.932292' stop-color='%23FF4F4F' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}

.tag {
  padding: 6px 12px;
  border-radius: 50px;
  background: #EEF0F2;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  border: none;
  transition: .1s;
  &:hover {
    background: #DFE3E6;
  }
  &:active {
    color: #FFF;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  }
  &.active {
    color: #FFF;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  }
}

/* BLOCKS */
.popup {
  box-shadow: 0px 0px 0px 10000px rgba(#000000, 0.5);
  background: #FFF;
  border-radius: 30px;
  width: 552px;
  height: 100%;
  max-height: 476px; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 32px;
  &-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 16px;
  }
  &__text {
    width: 100%;
    color: $popup-text;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
  .close-btn {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    position: absolute;
    right: -16px;
    top: -16px;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
}
